.settings-list
  .list-section
    .item.section-header General settings
    .item 
      .title 
        .value Empty
  .list-section
    .item.section-header Ad settings
    .item.play-ad(class="{{videoReadyClass}}")
      .title Play an ad
        .value To gain 10 ToDos
      .content-right
        unless videoReady
          +loader
          
    .item.play-ad
      .title Ad ID
        .value {{adId}}
    .item.play-ad
      .title Testing
        .value {{isTesting}}

  //-
    .item 
      .title Dummy option 2
        .value 
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever
    .item 
      .title Dummy option 2
        .value with subtitle
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever
    .item 
      .title Dummy option 2
        .value with subtitle
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever

         
        
  .list-section
    .item.section-header About
    .item 
      .title Version
        .value {{version}}
    .item 
      .title Author
        .value Anton Lydike
      
