.settings-list
  .list-section
    .item.section-header General settings
    .item 
      .title 
        .value Empty

  //-
    .item 
      .title Dummy option 2
        .value 
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever
    .item 
      .title Dummy option 2
        .value with subtitle
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever
    .item 
      .title Dummy option 2
        .value with subtitle
      .content-right.switch
        label 
          input(type="checkbox")
          span.lever

         
        
  .list-section
    .item.section-header About
    .item 
      .title Version
        .value {{version}}
    .item 
      .title Author
        .value Anton Lydike
      
