.navbar-fixed
  nav
    .nav-wrapper.indigo
      a.brand-logo 
        img(src="/img/check.svg").left.logo-img
        .left ToDoPush
      a.button-collapse(data-activates="sidenav")
        i.material-icons menu
      ul.right.hide-on-med-and-down#nav-mobile
        if loggedIn
          li
            a(href="/") Home
              i.material-icons.left home
          li  
            a(href="/settings") Settings 
              i.material-icons.left settings
          li  
            a(href="/logout") Logout
              i.material-icons.left lock_outline
        else
          li
            a(href="/login") Login  
              i.material-icons.left lock_outline
ul.side-nav#sidenav
  li
    .user-view
      .background.indigo
      a
        span.white-text.name {{name}}
      a
        span.white-text.email {{email}}
        
  if loggedIn
    li
      a(href="/") Home
        i.material-icons.left home
    li    
      a(href="/settings") Settings
        i.material-icons.left settings
    li  
      a(href="/logout") Logout
        i.material-icons.left lock_outline
  else
    li
      a(href="/login") Login  
        i.material-icons.left lock_outline
.content
  +Template.dynamic template=main
